#app {
	margin-top: 80px; /* sama dengan tinggi navbar */
}

/* =========================
        NAVBAR
========================= */
.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: space-between;

	height: 60px;
	box-sizing: border-box;
	padding: 10px 20px;
	background-color: aqua;
	z-index: 1000;
}

/* group layout */
.navbar-center,
.navbar-right {
	display: flex;
	gap: 20px;
}

/* link navbar */
.navbar a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

/* branding kiri */
.navbar-left a {
	font-weight: bold;
}

/* =========================
        Landing Page
========================= */

.landing-hero {
	width: 98%;
	height: 580px;
	margin: 0 auto;
	overflow: hidden;

	border-radius: 16px; /* sudut tumpul */
}

.landing-hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: bottom;
	display: block;
}
/* class="landing-hero" */

/* =========================
        Products Page
========================= */

/* PRODUCTS PAGE LAYOUT */
.products-layout {
	width: 98%;
	margin: 0 auto;

	display: flex;
	gap: 20px;
}

/* SIDEBAR */
.products-sidebar {
	width: 220px; /* kecil & konsisten */
	min-height: 400px;

	background-color: #e0e0e0;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 12px;
}

/* CONTENT */
.products-content {
	flex: 1; /* ambil sisa ruang */
	min-height: 400px;

	background-color: brown;
	padding: 16px;
	box-sizing: border-box;
	border-radius: 12px;
}

/* =========================
        Detail Product Page
========================= */
/* style product detail here */